@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg-color: #EAEAEA;
}

body {
  background-color: var(--body-bg-color);
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}