.container {
  --gap: .25rem;
  display: flex;
  gap: var(--gap);
  flex-direction: column;
  position: relative;
  max-width: 90vw;
  overflow: auto;
}

.row {
  display: flex;
  gap: var(--gap);
  flex-direction: row;
}